@using QuanLyCuaHangHoaQua.Models
@model IEnumerable<SanPham>



<nav class="navbar navbar-expand-lg navbar-light" style="display:flex; justify-content:center; align-items:center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"    >
        <ul class="navbar-nav " style="margin-left: 350px"  >
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","ThongTin")" class="nav-link">Thông tin</a>
            </li>
            @*@<li class="nav-item">
                <a href="@Url.Action("Index","HoaQua")" class="nav-link">Hoa Quả</a>
            </li>*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Home")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Phân Loại
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @*<a class="nav-link" href="icon.html">404 Page</a>
        <a class="nav-link " href="typography.html">Typography</a>*@
                    @foreach (var groupItem in Model.GroupBy(n => n.TheLoai))
                    {
                        if (groupItem.Key != null)
                        {


                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        <li style="height:50px; display:flex; align-items: center;justify-content:center"><a href="@Url.Action("SanPham", "SanPham", new {@IDLoaiSP = groupItem.Key.ID})" style="color:black">@groupItem.Key.Ten </a></li>
                                    </ul>
                                </div>
                            </div>
                        }

                    }
                </div>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","LienHe")"class="nav-link">Liên hệ</a>
            </li>
        </ul>
    </div>
</nav>

